@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");

body {
  margin: 0;
  background: url(./images/background.jpg);
  height: 100%;
  font-family: "Urbanist", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 1.4rem;
}

li {
  list-style: none;
  font-size: 1rem;
  letter-spacing: 0.1em;
  margin-bottom: 0.4rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

select {
  padding: 0.8rem;
  width: 50%;
  font-size: 1rem;
}

button {
  background-color: rgb(184, 70, 219);
  padding: 0.6rem;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-style: none;
  transition-duration: 0.4s;
  cursor: pointer;
  letter-spacing: 0.2em;
  margin-top: 1rem;
}

button:hover {
  background-color: rgb(216, 159, 233);
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(29, 8, 49, 0.548);
  color: rgba(245, 245, 245, 0.616);
  text-align: center;
  border-top: 1px solid whitesmoke;
}

img {
  width: 6rem;
  padding-bottom: 1rem;
}

.container {
  overflow: hidden;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20vh 0;
}

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.fieldset-box {
  border: 0.2rem solid rgb(123, 62, 184);
  box-shadow: 0 0 0.5rem #d330bc, 0 0 1rem #d82dec;
  background-color: rgba(29, 8, 49, 0.788);
  color: whitesmoke;
}

